footer
	position absolute
	bottom 0
	right 0
	z-index set-index('overlay')
	display flex
	align-items center
	background-color $bg
	color $gray-light
	font-weight 500
	padding 0.5rem
	border-radius 6px
	transform translate(3px, 3px)
	display none 
	+mq('bp-6') 
		display flex

	p
		margin 0


.footer__key
	align-items center
	display flex

.key__description
	max-width 7.25rem
	text-align right
	line-height 1.2

.key__figure
	display flex
	align-items center

	p
		text-transform uppercase
		max-width 2.75rem
		line-height 1.2
		font-weight 400
		&:first-of-type
			text-align right
	ul
		display flex
		align-items baseline
		margin 0 0.5rem
	li
		font-weight 700
		background-color rgba($secondary, 0.33)
		border-radius 50%
		margin 0 0.125em
		text-align center
		span
			display inline-block
			transform translateY(-25%)
			text-shadow 0 0 2px $bg
		&:nth-of-type(1)
			font-size 14px
			line-height 16px	
			width 16px
			height 16px
		&:nth-of-type(2)
			font-size 18px
			line-height 20px
			width 20px
			height 20px
		&:nth-of-type(3)
			font-size 24px
			line-height 26px
			width 26px
			height 26px

.footer__filter
	position relative
	button
		background transparent
		color $primary
		max-width 4rem
		line-height 1.2
		text-align center

	svg
		position absolute
		top 0
		left 50%
		display block
		width 2rem
		height 2rem
		stroke $primary
		transform translate(-50%, -75%)
		background $bg
		border-radius 50%
		cursor pointer

ul.filter-list
	position fixed
	bottom 0
	right 0
	z-index set-index('overlay') - 1
	background $bg
	padding 1rem 1.5rem 1rem 1rem
	border-radius 6px
	transform translate(6px, 100% + 6px)
	transition transform 250ms ease-in-out
	&.is-visible
		transform translate(6px, 12px)

li
	padding 0.25rem 0
	button
		set-type-size(small, false)
		line-height 1
		padding 0
		background transparent
		max-width 100%
		font-weight 500
		margin 0
		color $primary
		&:hover
			color $fg
	
