footer
	position absolute
	bottom 0
	right 0
	z-index set-index('overlay')
	display flex
	align-items center
	background-color $bg
	color $gray-light
	font-weight 500
	padding 0.5rem
	border-radius 6px
	transform translateY(3px)

	p
		margin 0


.footer__key
	display flex
	align-items center

.key__description
	max-width 8rem
	text-align right
	line-height 1.2

.key__figure
	display flex
	align-items center

	p
		text-transform uppercase
		max-width 3rem
		line-height 1.2
		font-weight 400
		&:first-of-type
			text-align right
	ul
		display flex
		align-items baseline
		margin 0 0.5rem
	li
		font-size 14px
		font-weight 700
		line-height 1
		padding 0 0.25rem
		&:nth-of-type(2)
			font-size 18px
		&:nth-of-type(3)
			font-size 24px

.footer__filter
	position relative
	button
		background transparent
		color $primary
		max-width 4rem
		line-height 1.2
		text-align center

	svg
		position absolute
		top 0
		left 50%
		display block
		width 2rem
		height 2rem
		stroke $primary
		transform translate(-50%, -75%)
		background $bg
		border-radius 50%
		cursor pointer