header
	z-index set-index('overlay')
	position absolute
	top 0
	left 50%
	width 90%
	max-width 40rem
	background-color $off-black
	font-family $sans
	padding 0 2rem
	border-radius 6px
	transform translate(-50%, -100% - 6rem)
	transition transform 500ms ease-in-out

	&.is-visible
		transform translate(-50%, -3px)


	a.logo
		display block
		border none
		max-width 9rem
		margin 1rem auto

		svg
			fill $gray
			display block
			width 100%
	
	.header__title
		font-weight 500
		text-align center
		color $gray-light

		strong
			color $white
		
		a, a:visited
			color $gray-light
			border-bottom 1px solid currentColor

		h1
			margin 0
			line-height 1.25
		
		p
			font-weight 400
			margin 0
			margin-top 0.5rem
	
.header__note
	margin-top 3rem
	color $off-white
	button
		background none
		color currentColor
		font-size 1em
		border-bottom 1px solid currentColor

button.header__toggle
	display block
	background $bg
	color $gray
	width 3rem
	height 3rem
	margin 0 auto
	position absolute
	left 50%
	bottom 0
	transform translate(-50%, 50%)
	border-radius 50%
	svg
		display block
		width 75%
		height 75%	
		stroke $primary
		margin-left 12.5%

.header__micro
	z-index set-index('overlay')
	position absolute
	top 0
	left 50%
	width 90%
	max-width 30rem
	background-color $off-black
	font-family $sans
	padding 0 2rem
	border-radius 6px
	transform translate(-50%, -100% - 6rem)
	transform translate(-50%, -3px)
	// transition transform 200ms 500ms ease-in-out
	
	p
		font-weight 500
		text-align center
		color $gray-light
	
	strong
		color $white

	&.is-visible
		transform translate(-50%, -3px)

button.micro__toggle
	display block
	background $bg
	color $primary
	width 3rem
	height 3rem
	margin 0 auto
	position absolute
	left 50%
	bottom 0
	transform translate(-50%, 50%)
	border-radius 50%
	set-type-size(small, false)
	line-height 1
	text-transform lowercase
	em
		display inline-block
		font-style normal
		transform translateY(25%)
	svg
		display block
		width 75%
		height 75%	
		stroke $primary
		margin-left 12.5%