<ul class='filter-list'></ul>

<footer>
	{{> story/key }}
	{{!-- <div class='footer__filter'>
		<button class='btn--filter x-small'>Filter names</button>
		<img inline src='chevron-up.svg'>
	</div> --}}

</footer>