<a href='#content' class='skip-to-main'>Skip to main content</a>


<a href='https://pudding.cool' target='_blank' class='logo'>
	<img inline src='pudding/wordmark.svg'>
	<span>See more visual stories</span>
</a>

<div class='header__micro'>
	<p><strong>A People Map of the US</strong>, where city names are replaced by their most Wikipedia’ed resident: people
		born in, lived in, or connected to a place.</p>
	<button class='btn--down micro__toggle'>
		<span class='toggle--down'>
			<em>Info</em>
			<img inline src='chevron-down.svg'>
		</span>
	</button>
</div>

<header class='is-visible'>
	<a href='https://pudding.cool' target='_blank' class='wordmark'>
		<img inline src='pudding/wordmark.svg'>
	</a>
	<section class='header__title'>
		<h1><strong>A People Map of the US</strong>, where city names are replaced by their most <a
				href='https://en.wikipedia.org' target='_blank'>Wikipedia’ed</a> resident: people born in, lived in, or
			connected to
			a place.</h1>
		<p><a href='https://pudding.cool/2019/06/people-map-uk'>Explore the UK version</a></p>
	</section>
	<section class='header__note'>
		<p><strong>Note:</strong> any person on Wikipedia is considered, including those connected to and
			victims of
			criminal acts. See more about <button>our data and method.</button></p>
	</section>
	<button class='header__toggle'>
		<span class='btn--up toggle--up'><img inline src='chevron-up.svg'></span>
	</button>

	{{> story/key }}
</header>

<button class='btn--about'>?</button>