<div class='key'>
	<p class='key__description x-small'>Sized by Wikipedia page traffic</p>
	<figure class='key__figure'>
		<p class='figure__less xx-small'>Less Views</p>
		<ul class='figure__scale'>
			<li><span>a</span></li>
			<li><span>a</span></li>
			<li><span>a</span></li>
		</ul>
		<p class='figure__more xx-small'>More Views</p>
	</figure>
</div>